$headerheight: 80px !default;
//fonts
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');
$FONT: 'Kaisei HarunoUmi',serif !default;
//
//body {
//  font-family: $FONT;
//}

// COLORS
$contentColor: rgba(9, 231, 49, 0.59) !default;
$headerColor: rgba(0, 55, 11, 0.46) !default;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #06921c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a40909;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a40909;
}